body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1256px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:37px;
  top:10px;
  width:83px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:137px;
  top:14px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u3 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:217px;
  top:14px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:297px;
  top:14px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:138px;
  top:94px;
  width:195px;
  height:25px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:37px;
  top:88px;
  width:83px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:346px;
  top:94px;
  width:25px;
  height:25px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:17px;
  top:134px;
  width:1043px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:1026px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1043px;
  height:1px;
}
#u15 {
  position:absolute;
  left:27px;
  top:535px;
  width:1043px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:1026px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1043px;
  height:1px;
}
#u16 {
  position:absolute;
  left:15px;
  top:559px;
  width:40px;
  height:43px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:43px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:65px;
  top:573px;
  width:27px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:125px;
  top:552px;
  width:333px;
  height:51px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:51px;
}
#u21 {
  position:absolute;
  left:2px;
  top:18px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:15px;
  top:144px;
  width:1241px;
  height:372px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:372px;
}
#u23 {
  position:absolute;
  left:2px;
  top:178px;
  width:1237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:37px;
  top:50px;
  width:83px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u25 {
  position:absolute;
  left:0px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:137px;
  top:54px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:217px;
  top:54px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:297px;
  top:54px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:240px;
  top:109px;
  width:840px;
  height:937px;
  overflow:hidden;
  visibility:hidden;
}
#u32_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:937px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u32_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:140px;
  overflow:hidden;
}
#u33_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:140px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:130px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:130px;
}
#u35 {
  position:absolute;
  left:2px;
  top:57px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:7px;
  top:6px;
  width:75px;
  height:24px;
  font-size:15px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
}
#u37 {
  position:absolute;
  left:0px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:91px;
  top:39px;
  width:225px;
  height:30px;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:13px;
  top:46px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:13px;
  top:83px;
  width:76px;
  height:17px;
  font-size:15px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:91px;
  top:79px;
  width:225px;
  height:30px;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:340px;
  top:46px;
  width:76px;
  height:17px;
  font-size:15px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:418px;
  top:42px;
  width:225px;
  height:30px;
  text-align:left;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:340px;
  top:83px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:418px;
  top:79px;
  width:225px;
  height:30px;
  text-align:left;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:150px;
  width:750px;
  height:390px;
  overflow:hidden;
}
#u54_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:390px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u54_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55 {
  position:absolute;
  left:-12px;
  top:-50px;
  width:762px;
  height:434px;
  font-size:14px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  height:434px;
}
#u56 {
  position:absolute;
  left:2px;
  top:209px;
  width:758px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:7px;
  top:6px;
  width:75px;
  height:24px;
  font-size:15px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
}
#u58 {
  position:absolute;
  left:0px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:22px;
  top:45px;
  width:56px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
}
#u60 {
  position:absolute;
  left:0px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:22px;
  top:130px;
  width:76px;
  height:17px;
  font-size:15px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:15px;
  top:394px;
  width:187px;
  height:16px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:88px;
  top:51px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:152px;
  top:51px;
  width:27px;
  height:16px;
  font-size:14px;
  color:#3333FF;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:188px;
  top:51px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:234px;
  top:51px;
  width:17px;
  height:16px;
  font-size:14px;
  color:#3333FF;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:252px;
  top:51px;
  width:61px;
  height:16px;
  font-size:14px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:37px;
  top:177px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:37px;
  top:218px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:37px;
  top:259px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:37px;
  top:300px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:78px;
  top:173px;
  width:221px;
  height:30px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:78px;
  top:213px;
  width:221px;
  height:30px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:78px;
  top:253px;
  width:221px;
  height:30px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:78px;
  top:293px;
  width:221px;
  height:30px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:370px;
  top:128px;
  width:60px;
  height:12px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:12px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:387px;
  top:51px;
  width:57px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
}
#u94 {
  position:absolute;
  left:0px;
  top:4px;
  width:57px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:452px;
  top:56px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:516px;
  top:56px;
  width:27px;
  height:16px;
  font-size:14px;
  color:#3333FF;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:552px;
  top:56px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:598px;
  top:56px;
  width:17px;
  height:16px;
  font-size:14px;
  color:#3333FF;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:616px;
  top:56px;
  width:61px;
  height:16px;
  font-size:14px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:16px;
  top:76px;
  width:295px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:24px;
}
#u106 {
  position:absolute;
  left:0px;
  top:4px;
  width:295px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:380px;
  top:75px;
  width:99px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
}
#u108 {
  position:absolute;
  left:0px;
  top:4px;
  width:99px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:7px;
  top:100px;
  width:698px;
  height:10px;
}
#u109_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_end {
  position:absolute;
  left:681px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_line {
  position:absolute;
  left:0px;
  top:5px;
  width:698px;
  height:1px;
}
#u110 {
  position:absolute;
  left:380px;
  top:154px;
  width:333px;
  height:199px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:199px;
}
#u111 {
  position:absolute;
  left:2px;
  top:92px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:0px;
  top:550px;
  width:760px;
  height:250px;
  overflow:hidden;
}
#u112_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:250px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u112_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:240px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:240px;
}
#u114 {
  position:absolute;
  left:2px;
  top:112px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:7px;
  top:6px;
  width:143px;
  height:24px;
  font-size:15px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:24px;
}
#u116 {
  position:absolute;
  left:0px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:230px;
  top:50px;
  width:160px;
  height:153px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:153px;
}
#u118 {
  position:absolute;
  left:2px;
  top:68px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:719px;
  top:4px;
  width:22px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u120 {
  position:absolute;
  left:0px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:210px;
  top:810px;
  width:270px;
  height:40px;
  color:#FFFFFF;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u122 {
  position:absolute;
  left:0px;
  top:12px;
  width:270px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:940px;
  top:154px;
  width:290px;
  height:371px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
