body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1289px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:37px;
  top:10px;
  width:83px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:137px;
  top:14px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u3 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:217px;
  top:14px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:297px;
  top:14px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:136px;
  top:187px;
  width:195px;
  height:25px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:35px;
  top:181px;
  width:83px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:344px;
  top:187px;
  width:25px;
  height:25px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:15px;
  top:222px;
  width:1043px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:1026px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1043px;
  height:1px;
}
#u15 {
  position:absolute;
  left:27px;
  top:586px;
  width:1043px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:1026px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1043px;
  height:1px;
}
#u16 {
  position:absolute;
  left:37px;
  top:50px;
  width:83px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u17 {
  position:absolute;
  left:0px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:217px;
  top:54px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:300px;
  top:54px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:389px;
  top:54px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:380px;
  top:14px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:480px;
  top:54px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:576px;
  top:56px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:37px;
  top:90px;
  width:83px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u31 {
  position:absolute;
  left:0px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:218px;
  top:95px;
  width:89px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
}
#u33 {
  position:absolute;
  left:0px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:331px;
  top:95px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:134px;
  top:54px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:134px;
  top:95px;
  width:73px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:15px;
  top:240px;
  width:1274px;
  height:354px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1274px;
  height:354px;
}
#u41 {
  position:absolute;
  left:2px;
  top:169px;
  width:1270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:35px;
  top:128px;
  width:83px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u43 {
  position:absolute;
  left:0px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:134px;
  top:128px;
  width:438px;
  height:43px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:43px;
}
#u45 {
  position:absolute;
  left:2px;
  top:14px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:134px;
  top:125px;
  width:854px;
  height:636px;
  overflow:hidden;
  visibility:hidden;
}
#u46_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:636px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u46_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:33px;
  top:88px;
  width:97px;
  height:30px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:42px;
  top:220px;
  width:53px;
  height:50px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:50px;
}
#u50 {
  position:absolute;
  left:2px;
  top:17px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:114px;
  top:234px;
  width:66px;
  height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:417px;
  top:235px;
  width:55px;
  height:20px;
  font-size:15px;
  color:#000000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:500px;
  top:235px;
  width:37px;
  height:18px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u56 {
  position:absolute;
  left:2px;
  top:1px;
  width:33px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:14px;
  top:18px;
  width:11px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:161px;
  top:21px;
  width:83px;
  height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:171px;
  top:457px;
  width:27px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:161px;
  top:60px;
  width:227px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
}
#u64 {
  position:absolute;
  left:0px;
  top:2px;
  width:227px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:33px;
  top:140px;
  width:107px;
  height:30px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:39px;
  top:404px;
  width:56px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:105px;
  top:398px;
  width:315px;
  height:32px;
  color:#999999;
  text-align:left;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:32px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:311px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:458px;
  top:13px;
  width:61px;
  height:28px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u72 {
  position:absolute;
  left:0px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:141px;
  top:90px;
  width:279px;
  height:24px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:24px;
}
#u74 {
  position:absolute;
  left:0px;
  top:4px;
  width:279px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:33px;
  top:50px;
  width:97px;
  height:30px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:34px;
  top:13px;
  width:97px;
  height:30px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:20px;
  top:130px;
  width:690px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:673px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:690px;
  height:1px;
}
#u80 {
  position:absolute;
  left:223px;
  top:235px;
  width:40px;
  height:20px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:320px;
  top:235px;
  width:55px;
  height:20px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:618px;
  top:235px;
  width:32px;
  height:20px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:108px;
  top:314px;
  width:27px;
  height:20px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:411px;
  top:315px;
  width:55px;
  height:20px;
  font-size:15px;
  color:#000000;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:499px;
  top:315px;
  width:37px;
  height:18px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u91 {
  position:absolute;
  left:2px;
  top:1px;
  width:33px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:217px;
  top:315px;
  width:40px;
  height:20px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:314px;
  top:315px;
  width:55px;
  height:20px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:612px;
  top:315px;
  width:32px;
  height:20px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:46px;
  top:293px;
  width:44px;
  height:42px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:42px;
}
#u99 {
  position:absolute;
  left:2px;
  top:13px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:33px;
  top:345px;
  width:690px;
  height:10px;
}
#u100_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_end {
  position:absolute;
  left:673px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_line {
  position:absolute;
  left:0px;
  top:5px;
  width:690px;
  height:1px;
}
#u101 {
  position:absolute;
  left:33px;
  top:365px;
  width:86px;
  height:20px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
}
#u102 {
  position:absolute;
  left:0px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:105px;
  top:184px;
  width:65px;
  height:25px;
  color:#FFFFFF;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
}
#u104 {
  position:absolute;
  left:0px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:407px;
  top:185px;
  width:55px;
  height:25px;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
}
#u106 {
  position:absolute;
  left:0px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:498px;
  top:186px;
  width:39px;
  height:25px;
  color:#FFFFFF;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
}
#u108 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:223px;
  top:185px;
  width:44px;
  height:25px;
  color:#FFFFFF;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
}
#u110 {
  position:absolute;
  left:0px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:318px;
  top:185px;
  width:55px;
  height:25px;
  color:#FFFFFF;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
}
#u112 {
  position:absolute;
  left:0px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:617px;
  top:185px;
  width:50px;
  height:25px;
  color:#FFFFFF;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u114 {
  position:absolute;
  left:0px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:452px;
  top:87px;
  width:97px;
  height:30px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:570px;
  top:91px;
  width:110px;
  height:24px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u118 {
  position:absolute;
  left:0px;
  top:4px;
  width:110px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:230px;
  top:367px;
  width:55px;
  height:20px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u120 {
  position:absolute;
  left:0px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:110px;
  top:365px;
  width:55px;
  height:20px;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u122 {
  position:absolute;
  left:0px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:278px;
  top:367px;
  width:55px;
  height:20px;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u124 {
  position:absolute;
  left:0px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:499px;
  top:365px;
  width:55px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u126 {
  position:absolute;
  left:0px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:581px;
  top:365px;
  width:55px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u128 {
  position:absolute;
  left:0px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:33px;
  top:440px;
  width:690px;
  height:10px;
}
#u129_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u129_end {
  position:absolute;
  left:673px;
  top:-5px;
  width:18px;
  height:20px;
}
#u129_line {
  position:absolute;
  left:0px;
  top:5px;
  width:690px;
  height:1px;
}
#u130 {
  position:absolute;
  left:38px;
  top:500px;
  width:52px;
  height:20px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:177px;
  top:500px;
  width:16px;
  height:16px;
  color:#000000;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u133 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:214px;
  top:500px;
  width:16px;
  height:16px;
  color:#000000;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u135 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:233px;
  top:500px;
  width:16px;
  height:16px;
  color:#000000;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u137 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:196px;
  top:500px;
  width:16px;
  height:16px;
  color:#000000;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u139 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:159px;
  top:500px;
  width:16px;
  height:16px;
  color:#000000;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u141 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:420px;
  top:500px;
  width:16px;
  height:16px;
  color:#000000;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u143 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:457px;
  top:500px;
  width:16px;
  height:16px;
  color:#000000;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u145 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:476px;
  top:500px;
  width:16px;
  height:16px;
  color:#000000;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u147 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:439px;
  top:500px;
  width:16px;
  height:16px;
  color:#000000;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u149 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:402px;
  top:500px;
  width:16px;
  height:16px;
  color:#000000;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u151 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:99px;
  top:498px;
  width:45px;
  height:20px;
  text-align:center;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u153 {
  position:absolute;
  left:0px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:338px;
  top:498px;
  width:45px;
  height:20px;
  text-align:center;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u155 {
  position:absolute;
  left:0px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:37px;
  top:530px;
  width:14px;
  height:20px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:22px;
  top:526px;
  width:470px;
  height:64px;
  color:#999999;
  text-align:left;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:64px;
}
#u159 {
  position:absolute;
  left:2px;
  top:24px;
  width:466px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:690px;
  top:5px;
  width:90px;
  height:28px;
  text-align:center;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u161 {
  position:absolute;
  left:0px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:33px;
  top:450px;
  width:107px;
  height:30px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u163 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:427px;
  top:450px;
  width:107px;
  height:30px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u165 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:830px;
  top:0px;
  width:18px;
  height:29px;
  font-size:25px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u168 {
  position:absolute;
  left:68px;
  top:310px;
  width:1002px;
  height:240px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
