body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:33px;
  top:116px;
}
#u3_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u5 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:38px;
  top:116px;
  width:308px;
  height:13px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:50px;
  top:286px;
  width:288px;
  height:87px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:87px;
}
#u9 {
  position:absolute;
  left:2px;
  top:36px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:292px;
  top:440px;
  width:29px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#66CCCC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:50px;
  top:440px;
  width:71px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#66CCCC;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:146px;
  top:181px;
  width:87px;
  height:87px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:87px;
}
#u15 {
  position:absolute;
  left:2px;
  top:36px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:58px;
  top:386px;
  width:270px;
  height:40px;
  color:#FFFFFF;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u17 {
  position:absolute;
  left:0px;
  top:12px;
  width:270px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:278px;
  top:440px;
  width:56px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
