body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:606px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:7px;
  top:126px;
  width:70px;
  height:66px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:66px;
}
#u2 {
  position:absolute;
  left:2px;
  top:25px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:25px;
  width:320px;
  height:45px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:5px;
  top:0px;
  width:141px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:25px;
  width:320px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u8 {
  position:absolute;
  left:0px;
  top:2px;
  width:320px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:94px;
  top:130px;
  width:145px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u10 {
  position:absolute;
  left:0px;
  top:4px;
  width:145px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:92px;
  top:151px;
  width:145px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u12 {
  position:absolute;
  left:0px;
  top:4px;
  width:145px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:256px;
  top:135px;
  width:56px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:260px;
  top:157px;
  width:52px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:27px;
}
#u16 {
  position:absolute;
  left:0px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:196px;
  width:320px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u19 {
  position:absolute;
  left:92px;
  top:169px;
  width:145px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u20 {
  position:absolute;
  left:0px;
  top:4px;
  width:145px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:11px;
  top:310px;
  width:92px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u22 {
  position:absolute;
  left:0px;
  top:3px;
  width:92px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:92px;
  top:231px;
  width:145px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u24 {
  position:absolute;
  left:0px;
  top:4px;
  width:145px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:259px;
  top:215px;
  width:56px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:263px;
  top:237px;
  width:52px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:27px;
}
#u28 {
  position:absolute;
  left:0px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:95px;
  top:249px;
  width:145px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u30 {
  position:absolute;
  left:0px;
  top:4px;
  width:145px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:15px;
  top:214px;
  width:44px;
  height:42px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:42px;
}
#u32 {
  position:absolute;
  left:2px;
  top:13px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:267px;
  width:320px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u36 {
  position:absolute;
  left:9px;
  top:341px;
  width:320px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u37 {
  position:absolute;
  left:88px;
  top:205px;
  width:145px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u38 {
  position:absolute;
  left:0px;
  top:4px;
  width:145px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:120px;
  width:320px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u41 {
  position:absolute;
  left:116px;
  top:78px;
  width:35px;
  height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:188px;
  top:78px;
  width:99px;
  height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:9px;
  top:96px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:75px;
  top:98px;
  width:76px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:156px;
  top:1px;
  width:164px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:17px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:10px;
  top:73px;
  width:59px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:10px;
  top:278px;
  width:302px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:26px;
}
#u54 {
  position:absolute;
  left:0px;
  top:3px;
  width:302px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:263px;
  top:48px;
  width:57px;
  height:20px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:147px;
  top:308px;
  width:84px;
  height:30px;
  font-size:12px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u58 {
  position:absolute;
  left:0px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:241px;
  top:308px;
  width:84px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u60 {
  position:absolute;
  left:0px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:332px;
  top:10px;
  width:274px;
  height:50px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:50px;
}
#u62 {
  position:absolute;
  left:0px;
  top:17px;
  width:274px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:17px;
  top:488px;
  width:70px;
  height:66px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:66px;
}
#u65 {
  position:absolute;
  left:2px;
  top:25px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:10px;
  top:387px;
  width:320px;
  height:45px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u67 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:15px;
  top:362px;
  width:141px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:10px;
  top:387px;
  width:320px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u71 {
  position:absolute;
  left:0px;
  top:2px;
  width:320px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:104px;
  top:492px;
  width:145px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u73 {
  position:absolute;
  left:0px;
  top:4px;
  width:145px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:102px;
  top:513px;
  width:145px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u75 {
  position:absolute;
  left:0px;
  top:4px;
  width:145px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:266px;
  top:497px;
  width:56px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:270px;
  top:519px;
  width:52px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:27px;
}
#u79 {
  position:absolute;
  left:0px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:10px;
  top:558px;
  width:320px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u82 {
  position:absolute;
  left:102px;
  top:531px;
  width:145px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u83 {
  position:absolute;
  left:0px;
  top:4px;
  width:145px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:21px;
  top:672px;
  width:92px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u85 {
  position:absolute;
  left:0px;
  top:3px;
  width:92px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:102px;
  top:593px;
  width:145px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u87 {
  position:absolute;
  left:0px;
  top:4px;
  width:145px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:269px;
  top:577px;
  width:56px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:273px;
  top:599px;
  width:52px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:27px;
}
#u91 {
  position:absolute;
  left:0px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:105px;
  top:611px;
  width:145px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u93 {
  position:absolute;
  left:0px;
  top:4px;
  width:145px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:25px;
  top:576px;
  width:44px;
  height:42px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:42px;
}
#u95 {
  position:absolute;
  left:2px;
  top:13px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:10px;
  top:629px;
  width:320px;
  height:10px;
}
#u97_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u99 {
  position:absolute;
  left:19px;
  top:703px;
  width:320px;
  height:10px;
}
#u99_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u100 {
  position:absolute;
  left:98px;
  top:567px;
  width:145px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u101 {
  position:absolute;
  left:0px;
  top:4px;
  width:145px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:10px;
  top:482px;
  width:320px;
  height:10px;
}
#u103_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u104 {
  position:absolute;
  left:126px;
  top:440px;
  width:35px;
  height:20px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:198px;
  top:440px;
  width:99px;
  height:20px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:19px;
  top:458px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:85px;
  top:460px;
  width:76px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:166px;
  top:363px;
  width:164px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:17px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:20px;
  top:435px;
  width:59px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:20px;
  top:640px;
  width:302px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:26px;
}
#u117 {
  position:absolute;
  left:0px;
  top:3px;
  width:302px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:273px;
  top:410px;
  width:57px;
  height:20px;
  color:#FFFFFF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u119 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:157px;
  top:670px;
  width:84px;
  height:30px;
  font-size:12px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u121 {
  position:absolute;
  left:0px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:251px;
  top:670px;
  width:84px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u123 {
  position:absolute;
  left:0px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:20px;
  top:437px;
  width:310px;
  height:22px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:22px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
